.intro__list {
  max-width: 690px;
  margin: 32px 0 92px;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .intro__list {
    margin: 32px 24px 92px;
  }
}

@media screen and (max-width: 768px) {
  .intro__list {
    max-width: 720px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro__list {
    max-width: 288px;
    margin: 32px 16px 64px;
  }
}
