@import url(./__title/lead__title.css);

.lead {
  padding: 0 148px 92px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .lead {
    padding: 0 48px 92px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .lead {
    padding: 0 0 88px;
  }
}

@media (max-width: 425px) {
  .lead {
    padding-bottom: 64px;
  }
}
