.lead__route {
  margin: 64px auto 0;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .lead__route {
    max-width: 928px;
  }
}

@media screen and (max-width: 960px) {
  .lead__route {
    width: 100%;
  }
}
