.place__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 1.67;
  color: #fff;
  margin-bottom: 24px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
}

@media screen and (max-width: 630px) {
  .place__paragraph {
    margin: 0 16px;
  }
}
